<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1 th:text="${company_name}">compnay Name</h1>

	<table>
		<th>
			<td>Product Id</td>
			<td>Product name</td>
			<td>Product price</td>
			<td>Product barcode</td>
			<td>expiry Date</td>
		</th>


		<tr th:each="product :  ${Products}">
			<td th:text="${product.productid}">1123</td>
			<td th:text="${product.productname}">jhj</td>
			<td th:text="${product.barcode}">jhjh</td>
			<td th:text="${product.price}">jhjh</td>
			<td th:text="${product.expDate}">jhjh</td>

		</tr>
		
	</table>
</body>
</html>



